@media (max-width: 700px){
    .nav-main ul.nav-menu {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        background: #2f3640;
        margin: 0;
        padding: 30px;
        opacity: .9;
        height: 100%;
        transform: translateX(-400px);
        transition: transform .5s ease-in-out;
    }

    .nav-main ul.nav-menu.slide{
        display: block;
    }

    .nav-main ul.nav-menu.show {
        display: block;
        transform: translateX(0px);
    }
    
    .nav-main ul.nav-menu li{
        padding: 20px;
        font-size: 14px;
    }

    .nav-main ul.nav-menu-right {
        margin-right: 50px;
    }

    .menu-btn {
        display: inherit;
    }

    .news-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .cards-banner-one .content, 
    .cards-banner-two .content {
        width: 80%
    }

    .footer-links .footer-container {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 2rem;
    }
}

@media (max-width: 500px){
    .news-cards {
        grid-template-columns: 1fr;
    }

    .news-cards img {
        height: 270px;
    }

    .cards-banner-one .content,
    .cards-banner-two .content {
        width: 100%;
        padding: 60px 20px;
    }

    .links {
        padding-bottom: 20px;
    }

    .footer-links .footer-container {
        grid-template-columns: 1fr;
    }

    .footer h4 {
        font-size: 20px;
    }
}